@font-face {
    font-family: "ZektonBold";
    src: url("../../../systems/cdbe/style/fonts/zektonbold.ttf");
}

@font-face {
    font-family: "Zekton";
    src: url("../../../systems/cdbe/style/fonts/zekton.otf");
}

.charsheet {
    display: flex;
  }

.left-section {
    width: 40%;
    max-height: 100%;
    text-align: center;
}

.left-section h2{
    font-family: var(--font-name);
    color: var(--secondary-color);
    border-bottom: none;
}

.char-pic img{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: var(--main-color);
    width: 200px;
    height: 175px;
}

.char-name input{
    font-family: var(--font-name);
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 10%);
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: none;
}

.dices {
    list-style: none;
    margin: -0.5em 0px;
    padding: 10px 0px 0px 0.5em;
}

.dices li {
    display: inline-block;
    padding: 0px 1px;
}

.dices img {
    width: 60px;
    height: 60px;
    border: none;
    margin: auto;
}

.sheet nav.sheet-tabs {
    font-family: var(--font-name);
    margin: 4px 0;
    border-top: none;
    border-bottom: none;
}

.sheet .tabs .item.active {
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 10%);
    background: var(--main-color);
    color: var(--secondary-color);
    text-shadow: none;
}

.sheet .tabs .item:not(.active) {
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 10%);
    background: var(--secondary-color);
    color: var(--main-color);
    text-shadow: none;
}

.sheet .tabs table {
    border-top: none;
    border-bottom: none; 
    background: none;

}

.sheet .tabs tr {
    line-height: 30px;

}

.right-section {
    width: 60%;
    height: 100%;
}

.editor {
    height: 100%;
}
.editor-content
{
    list-style: circle;
    text-align: left;
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.skillnotes {
    height: 300px;
}

.aspectnotes {
    height: 333px;
}

.talentnotes {
    height: 265px;
}

.limitanotes {
    height: 312px;
}

.donnotes {
    height: 223px;
}

.armornotes {
    height: 363px;
}

.bio {
    height: 522px;
}

.item-list {
    width: 100%;
    border: none;
}

.item-list tr{
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 10%);
}

.item-list th{
    border: none; 
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding-left: 10px;
    padding-right: 8px;
    
}
.item-header {
    font-family: var(--font-name);
    border-bottom: none;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}
.item-list td{
    color: var(--main-color);
}

.item-controls {
    align-items: right;
    text-align: right;
}

.item input{
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--main-color);
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 10%);
    border: none;
}

.item h2{
    color: var(--main-color);
    font-family: var(--font-name);
    text-align: center;
    border-bottom: none;
}

.item table{
    background: none;
    border: none;
}

.dice-roll .dice-tooltip {
    display: block !important;
}

#pause .pause-image {
    background: url("images/CDBE_Logo_Pause.webp");
    background-size: 128px;
    width: 128px;
    height: 128px;
    padding-left: 128px;
}

#pause .pause-cdbe {
    font-family: var(--font-name);
    margin: 0 auto;
    text-align: center;
    transform: scale3d(1, 1, 1);
    text-transform: uppercase;
    font-weight: 900;
    color: #f4eded;
}


:root { 
    --bg-image: url("../../../systems/cdbe/style/images/white.webp");
    --chat-bg-image: url("../../../systems/cdbe/style/images/white.webp");
    --font-name: "Zekton";
    --main-color: #395F64;
    --secondary-color: #AEB7BA;
}

.cdbe .window-content{
    background-color: white;
    background: var(--bg-image) no-repeat;
    background-size: 100% 100%;
}

.test-result{
    text-align: center;
}
.test-result h3{
    font-family: var(--font-name);
    
    border-bottom: none;
}


.dice-breakdown{
    text-align: center;
}

.d-flex{
    display:flex!important;
    align-items: center;
}

.regular-success {
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
}

.critical-success {
    background-color: rgba(0, 0, 128, 0.5);
    color: white;
}

.regular-failure {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.critical-failure {
    background-color: rgba(128, 0, 0, 0.5);
    color: white;
}

.disabled {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.enabled {
    background-color: rgba(218, 165, 32, 0.5);
    color: white;
}

.chat-message {
    background: var(--chat-bg-image) no-repeat;
    background-size: 100% 100%;
}

.resolve-button {
    background-color: rgba(128, 0, 0, 0.5);
    color: white;
}

.karma-button {
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
}

.charvalues table{
    background: none;
    border: none;
}

.charvalues_label h3{
    color: var(--main-color);
    font-family: var(--font-name);
    text-align: center;
    border-bottom: none;
    background: none;
}

.charvalues_values h3{
    color: var(--main-color);
    font-family: var(--font-name);
    text-align: center;
    border-bottom: none;
    background-color: var(--secondary-color);
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 89% 100%, 10% 100%, 0% 50%);
}

.charvalues_values input{
    border: none;
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-family: var(--font-name);
    width: 10px;
}

.resources table{
    background: none;
    border: none;
}

.resources_label h3{
    color: var(--main-color);
    font-family: var(--font-name);
    text-align: center;
    border-bottom: none;
    background: none;
}

.resources_values h3{
    color: var(--main-color);
    font-family: var(--font-name);
    text-align: center;
    border-bottom: none;
    background-color: var(--secondary-color);
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 89% 100%, 10% 100%, 0% 50%);
}

.resources_odd {
    color: var(--main-color);
    font-family: var(--font-name);
    text-align: center;
    border-bottom: none;
    background-color: var(--secondary-color);
}

.resources_even {
    color: var(--main-color);
    font-family: var(--font-name);
    text-align: center;
    border-bottom: none;
    background: none;
}

