<div class="cdbe-dialog">
    <table>
         <tr>
             <td>
                 <h1>
                     <label>{{{tirada}}}</label>
                 </h1>
             </td>
             <td>
                 <h1>
                     <label>+</label>
                 </h1>
             </td>
             <td style="width:20%;">
                <h1>
                    <input name="modificador" id="modificador" type="number" maxlength="2" data-dtype="Number" value="0" size=2/>
                </h1>
             </td>
             <td>
                 <h1>
                     <label>VS</label>    
                 </h1>
             </td>
             <td style="width:20%;">
                <h1>
                    <input name="dificultad" id="dificultad" type="number" maxlength="2" data-dtype="Number" value="9" size=2/>
                </h1>
            </td>
         </tr>
     </table>
 </div> 