<form class="{{cssClass}} cdbe" autocomplete="off">
    <div class="item">
        
        <table>
          <tr>
            <td><h2><input name="name" type="text" value="{{item.name}}" placeholder='Quirk' onClick="this.select();"/></h2></td>
            <td><h2><label>&nbsp;{{localize "CDBE.ui.pd"}}&nbsp;</label></h2></td>
            <td style="width:40px;"><h2><input name="system.pd" type="number" maxlength="2" size="2" value="{{item.system.pd}}" data-dtype="Number"/></h2></td>
          </tr>
        </table>
        <table>
          <tr>
              <td><h2><label>&nbsp;{{localize "CDBE.ui.origen"}}&nbsp;</label></h2></td>
              <td><input name="system.origen" value="{{item.system.origen}}" type="text"/></td>
              <td><h2><label>&nbsp;{{localize "CDBE.ui.fatiga"}}&nbsp;</label></h2></td>
          </tr>
          <tr>
            <td><h2><label>&nbsp;{{localize "CDBE.ui.habilidad"}}&nbsp;</label></h2></td>
            <td><input name="system.habilidad" value="{{item.system.habilidad}}" type="text"/></td>
            <td><h2><input type="checkbox" {{checked item.system.fatiga}} name="system.fatiga"></h2></td>
        </tr>
      </table>
        <nav class="sheet-tabs tabs" data-group="primary">
            <td><a class="item" data-tab="descripcion">{{localize "CDBE.ui.tab.descripcion"}}</a></td>
            <td><a class="item" data-tab="efectos">{{localize "CDBE.ui.tab.efectos"}}</a></td>
        </nav>
    </div>
    {{!-- Item Sheet Body --}}
        <section class="sheet-body">
          {{!-- Descripcion Tab --}}
          <div class="tab descripcion desc donnotes" data-group="primary" data-tab="descripcion">
            {{editor item.system.desc target="system.desc" button=true owner=owner editable=true}}
          </div>
          {{!-- Efectos Tab --}}
          <div class="tab efectos desc donnotes" data-group="primary" data-tab="efectos">

          </div>
        </section>
</form>